.wrapper {
    width: 100%;
    min-height: 80vh;
    background: #001027;
    padding-top: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    list-style: none;
    box-sizing: border-box;
    max-width: 75%;

    position: relative;
}

.title {
    display: flex;
    justify-content: flex-start;
}

.title span {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;
}

.aboutMatchInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.versus {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 64px;
    color: #D31326;
    text-transform: uppercase;
    margin: 0 40px;
}

.infoTeam span {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #ffffff;
}
.infoDateAndLocation {
    display: flex;
    justify-content: space-around;
}
.dateMatch, .locationMatch , .time{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 25px;

}
.value {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
}
.locationMatchTitle, .dateMatchTitle {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #85848A;
}
