.wrapper{
    height: 90vh;
    background: #2B243E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialIcons{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
}
.socialIcons svg{
    font-size: 23px;
    color: #ffffff;
    margin: 5px 0;

}
.img span{
    font-size: 48px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #ffffff;
}


